// ./hectordenizeCSS/modules/_display.scss
// DISPLAY MODULE



// ---------------------------------
// MODULE VARIABLES
// ---------------------------------



// ---------------------------------
// MODULE SPECIFICATIONS
// ---------------------------------

.deny {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
  &-block {
    display: inline-block;
  }
  &-flex {
    display: inline-flex;
  }
}

.flex-center {
  align-items: center;
  justify-content: center;
}