// ./hectordenizeCSS/modules/_grid.scss
// GRID MODULE



// ---------------------------------
// MODULE VARIABLES
// ---------------------------------

$gapX: 1em; // horizontal gutter
$gapY: 1em; // vertical gutter


// ---------------------------------
// MODULE SPECIFICATIONS
// ---------------------------------

// GRID SYSTEM 12 columns
.grid {

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &.grid--no-gap {
      gap: 0 0;
  }

  gap: $gapY $gapX;
  > * {
    grid-column: span 12;
    grid-row: span 1;
  }

}

// GRID SYSTEM for XS screen (all), S screen, M screen, L screen, XL screen
@each $size, $values in $breakpoints {
  @media screen and (min-width: map-get($values, 'min-width')) {
    @for $i from 1 through 12 {
      // col-x      XS screen || ALL screens
      // col-s-x    S screen
      // col-m-x    M screen
      // col-l-x    L screen
      // col-xl-x   XL screen
      .col#{map-get($values, 'label')}-#{$i} {
        grid-column: span + ' ' + #{$i};
      }
      .row#{map-get($values, 'label')}-#{$i} {
      // row-x      XS screen || ALL screens
      // row-s-x    S screen
      // row-m-x    M screen
      // row-l-x    L screen
      // row-xl-x   XL screen
        grid-row: span + ' ' + #{$i};
      }
      @for $j from 0 through 11 {
        .offset#{map-get($values, 'label')}-#{$j}.col#{map-get($values, 'label')}-#{$i} {
          // offset-x      XS screen || ALL screens
          // offset-s-x    S screen
          // offset-m-x    M screen
          // offset-l-x    L screen
          // offset-xl-x   XL screen
          grid-column: #{$j+1} / span + ' ' + #{$i};
        }
      }
    }
  } 
}

// GRID SYSTEM for XXL screen
@media screen and (min-width: map-get($breakpointXXL, 'min-width')) {
  @for $i from 1 through 12 {
    // col-xxl-x   XXL screen
    .col#{map-get($breakpointXXL, 'label')}-#{$i} {
      grid-column: span + ' ' + #{$i};
    }
    .row#{map-get($breakpointXXL, 'label')}-#{$i} {
    // row-xxl-x   XXL screen
      grid-row: span + ' ' + #{$i};
    }
    @for $j from 0 through 11 {
      .offset#{map-get($breakpointXXL, 'label')}-#{$j}.col#{map-get($breakpointXXL, 'label')}-#{$i} {
        // offset-xxl-x   XXL screen
        grid-column: #{$j+1} / span + ' ' + #{$i};
      }
    }
  }
} 