// ./hectordenizeCSS/modules/_typography.scss
// TYPOGRAPHY MODULE

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@900&display=swap');

// ---------------------------------
// MODULE VARIABLES
// ---------------------------------

// FONTS -------------
$fontDefault: 'Merriweather', Georgia, serif;
$fontTitle: 'Source Sans Pro', Helvetica, sans-serif;

// HEADERS font-size -------------
$titleValues: (
  'h1': 4rem,
  'h2': 2rem,
  'h3': 1.5rem,
  'h4': 1.2rem,
  'h5': 1rem,
  'h6': .8rem
);

// SUBHEADERS font-size -------------
$subTitleValues: (
  'subtitle1': 1.1rem,
  'subtitle2': 1rem,
  'subtitle3': .9rem,
  'subtitle4': .8rem,
  'subtitle5': .7rem,
  'subtitle6': .6rem
);



// ---------------------------------
// MODULE SPECIFICATIONS
// ---------------------------------

// DEFAULT TYPOGRAPHY -------------
body {
  color: $colorDark;
  font-family: $fontDefault;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .025em;
  line-height: 2.5;
}

// DEFAULT PARAGRAPH -------------
p {
  margin: 0;
  padding-bottom: 2rem;
}

// DEFAULT HEADERS -------------
@each $title, $value in $titleValues {
  #{$title}, .#{$title} {
    margin: 0 0 1rem 0;
    font-family: #{$fontTitle};
    font-size: #{$value};
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

// SUB HEADERS -------------
@each $subtitle, $value in $subTitleValues {
  .#{$subtitle} {
    margin: 0;
    padding-bottom: 2rem;
    font-family: #{$fontDefault};
    font-size: #{$value};
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
    line-height: 2.5;
    text-transform: initial;
  }
}

// LINKS -------------
a {
  border-bottom: $colorDim 1px dotted;
  color: $colorDark;
  text-decoration: none;
  &:hover {
    border-bottom: $colorAccent 1px dotted;
    color: $colorAccent;
  }
}

// ALIGNMENTS ------------- 
.txt-center {
  text-align: center;
}