// ./hectordenize/scss/layout/_boxes.scss
//  BOXES LAYOUT

@use "sass:map";
@use './../core/breakpoints' as brkpnts;
@use '../core/colors';

// ------------------------------------------------------------------
// --------- AVAILABLE BOXES HELPERS ---------
// ------------------------------------------------------------------

// .container
// .box
// .colorBox, .colorVariableName



// ------------------------------------------------------------------
// --------- BOXES VARIABLES ---------
// ------------------------------------------------------------------

// ------------- .BOX -------------
$box-border:    2px solid colors.$colorLight;
$box-padding:   1.5rem;
$box-textAlign: justify;



// ------------------------------------------------------------------
// --------- BOXES SPECIFICATIONS ---------
// ------------------------------------------------------------------

// ------------- .CONTAINER -------------

// CONTAINER for XS screen (all), S screen, M screen, L screen, XL screen, XXL screen
@each $screenSizes, $values in brkpnts.$breakpoints {
  @media screen and (min-width: map.get($values, 'min-width')) {
    .container {
      width: 100%; 
      max-width: map.get($values, 'container', 'size');
      margin: 0 auto;
      padding: map.get($values, 'container', 'padding');
    }
  }
}

// CONTAINER for XXXL screen
@media screen and (min-width: map.get(brkpnts.$breakpointXXXL, 'min-width')) {
  .container {
    width: 100%; 
    max-width: map.get(brkpnts.$breakpointXXXL, 'container', 'size');
    margin: 0 auto;
    padding: map.get(brkpnts.$breakpointXXXL, 'container', 'padding');
  }
}

// ------------- END CONTAINER -------------



// ------------- .BOX -------------
.box {
  border: $box-border;
  padding: $box-padding;
  text-align: $box-textAlign;
}



// ------------- .COLORBOX -------------
.colorBox {
  margin-bottom: 4px;
  height: 100px;
  width: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .colorVariableName {
    font-size: .8rem;
  }
}
