// ./hectordenize/scss/layout/_index.scss
// LAYOUT DISPATCHER


// ------------------------------------------------------------------
@forward 'texts';

// ------------------------------------------------------------------
@forward 'boxes';
// .container
// .colorBox, .colorVariableName

// ------------------------------------------------------------------
@forward 'lists';
// .ul--alt

// ------------------------------------------------------------------
@forward 'tables';
// .table--alt

// ------------------------------------------------------------------
@forward 'display';
// .deny, .block, .inline-block, .inline, .flex, .inline-flex, .table, .table-cell

// DENY     === display: none;
// VISIBLE  === display: block;
// {screenSize} = xs, s, m, l, xl
// .deny                           DENY ON ALL
// .block                          VISIBLE ON ALL
// .deny-on-{screenSize}-only      DENY ONLY ON $sreenSize
// .deny-on-xxl-only               DENY ONLY ON xxl
// .block-on-{$creenSize}-only     VISIBLE ONLY ON $screenSize
// .block-on-xxl-only              VISIBLE ONLY ON xxl
// .deny-from-{screenSize}         DENY FROM $sreenSize
// .block-from-{screenSize}        VISIBLE FROM $sreenSize
// .deny-until-{screenSize}        DENY UNTIL $sreenSize
// .block-until-{screenSize}       VISIBLE UNTIL $sreenSize

// ------------------------------------------------------------------
@forward 'grid';
// .grid, .grid--no-gap
// .gapX-{i}, .gapY-{i}
// .col-{i}       XS screen || ALL screens
// .col-s-{i}     S screen
// .col-m-{i}     M screen
// .col-l-{i}     L screen
// .col-xl-{i}    XL screen
// .col-xxl-{i}   XXL screen
  // .offset-{i}        XS screen || ALL screens
  // .offset-s-{i}      S screen
  // .offset-m-{i}      M screen
  // .offset-l-{i}      L screen
  // .offset-xl-{i}     XL screen
  // .offset-xxl-{i}    XXL screen
// .row-{i}       XS screen || ALL screens
// .row-s-{i}     S screen
// .row-m-{i}     M screen
// .row-l-{i}     L screen
// .row-xl-{i}    XL screen
// .row-xxl-{i}   XXL screen

// ------------------------------------------------------------------
@forward 'utils';
// .full-width
// .p-rspnsv
// .p-{i}
// .p-y-{i}
// .p-x-{i}
// .p-top-{i}
// .p-bottom-{i}
// .m-{i}
// .m-y-{i}
// .m-x-{i}
// .m-top-{i}
// .m-bottom-{i}

// ------------------------------------------------------------------
