// ./hectordenize/scss/layout/_lists.scss
// LISTS LAYOUT



// ------------------------------------------------------------------
// --------- AVAILABLE LISTS HELPERS ---------
// ------------------------------------------------------------------

// .ul--alt



// ------------------------------------------------------------------
// --------- LISTS VARIABLES & PLACEHOLDERS ---------
// ------------------------------------------------------------------

// ------------- UL & OL LAYOUT -------------
%lists {
  margin: 1em 0 1em 1em;
  padding-bottom: 1em;
}
// ------------- END UL & OL LAYOUT -------------



// ------------- UL ITEM -------------
$uListItemPaddingLeft: .5em;
$uListStyleType: initial;
// ------------- END UL ITEM -------------



// ------------- ALTERNATIVE UL ITEM -------------
$uListAltStyleType: square;
// ------------- END ALTERNATIVE UL ITEM -------------



// ------------- OL ITEM -------------
$oListItemPaddingLeft: .2em;
$oListStyleType: decimal;
// ------------- END OL ITEM -------------



// ------------- DL LIST -------------
$descriptionTitleWeight: bold;
// ------------- END DL LIST -------------



// ------------------------------------------------------------------
// --------- LISTS SPECIFICATIONS ---------
// ------------------------------------------------------------------

// ------------- UL LIST -------------
ul { 
  @extend %lists; 
  li {
    padding-left: $uListItemPaddingLeft;
    list-style-type: $uListStyleType;
  }
}
// ------------- END UL LIST -------------



// ------------- ALTERNATIVE UL LIST -------------
.ul--alt { 
  @extend %lists; 
  li {
    padding-left: $uListItemPaddingLeft;
    list-style-type: $uListAltStyleType;
  }
}
// ------------- END ALTERNATIVE UL LIST -------------



// ------------- OL LIST -------------
ol { 
  @extend %lists; 
  li {
    padding-left: $oListItemPaddingLeft;
    list-style-type: $oListStyleType;
  } 
}
// ------------- END OL LIST -------------



// ------------- DL LIST -------------
dl {
  dt {
    font-weight: bold;
  }
}
// ------------- END DL LIST -------------
