// ./hectordenize/scss/layout/_tables.scss
// TABLES LAYOUT

@use '../core/typography' as typo;
@use '../core/colors';
@use '../core/breakpoints' as brkpnts;

// ------------------------------------------------------------------
// --------- AVAILABLE TABLES HELPERS ---------
// ------------------------------------------------------------------

// .table--alt



// ------------------------------------------------------------------
// --------- TABLES VARIABLES, MIXINS & PLACEHOLDERS ---------
// ------------------------------------------------------------------

// ------------- TABLE VARIABLES -------------
$tableWidth:            100%;
$borderCollapse:        collapse;

$captionTypo:           typo.$fontSecondary;
$captionSize:           1.5rem;
$captionTextTransform:  uppercase;
$captionAlign:          left;

$theadTypo:             typo.$fontSecondary;
$theadSize:             0.8rem;
$theadTextTransform:    uppercase;
$theadAlign:            left;

$cellPadding:           .5rem;

$table-fontSize-XSonly:   .8rem;
// ------------- END TABLE VARIABLES -------------



// ------------- TBODY LAYOUT -------------
@mixin tbody {
  tbody {
    tr:nth-child(odd) {
      background: colors.$colorPale;
      border-top: 2px solid colors.$colorLight;
      border-bottom: 2px solid colors.$colorLight;
    }
  }
}

@mixin tbodyAlt {
  tbody {
    td {
      border: 2px solid colors.$colorLight;
    }
  }
}
// ------------- END TBODY LAYOUT -------------



// ------------- TABLE LAYOUT -------------
%table {
  border-collapse: $borderCollapse;
  width: $tableWidth;

  caption {
    font-family: $captionTypo;
    font-size: $captionSize;
    text-align: $captionAlign;
    text-transform: $captionTextTransform;
  }

  thead {
    font-family: $theadTypo;
    font-size: $theadSize;
    text-align: $theadAlign;
    text-transform: $theadTextTransform;
  }

  th, td {
    padding: $cellPadding;
  }
}
// ------------- END TABLE LAYOUT -------------



// ------------------------------------------------------------------
// --------- TABLES SPECIFICATIONS ---------
// ------------------------------------------------------------------

table {
  @extend %table;
  @include tbody;
}

.table--alt {
  @extend %table;
  @include tbodyAlt;
}



@media screen and (min-width: map-get(brkpnts.$breakpoints, 'xs', 'min-width')) and (max-width: map-get(brkpnts.$breakpoints, 'xs', 'max-width')) { 

  table {
    font-size: $table-fontSize-XSonly;
  }
}