// ./hectordenize/scss/layout/_text.scss
// TEXTS LAYOUT

@use '../core/colors';

// ------------------------------------------------------------------
// --------- TEXTS BOXES MIXINS & PLACEHOLDERS ---------
// ------------------------------------------------------------------

// ---------------------------------
// DEFAULT TEXTS BOXES
// ---------------------------------

// ------------- PARAGRAPH BOX -------------
@mixin paragraphBox {
  margin:           0;
  padding-bottom:   2rem;
}
// ------------- END PARAGRAPH BOX -------------



// ------------- LINKS BOX -------------
@mixin linkBox {
  border-bottom:    colors.$colorDim 1px dotted;
}

@mixin linkBoxHover {
  border-bottom:  colors.$colorAccent 1px dotted;
}
// ------------- END LINKS BOX -------------



// ------------- CODE BOX -------------
@mixin codeBox {
  background:     colors.$colorLight;
  box-shadow:     0 0 5px colors.$colorDim;
  margin:         .3em;
  padding:        .5em;
}
// ------------- END CODE BOX -------------



// ------------- BLOCKQUOTE BOX -------------
@mixin blockquoteBox {
  border-left: colors.$colorLight 5px solid;
  margin: 2em 0;
  padding: .5em 0 .5em 2em;
}
// ------------- END BLOCKQUOTE BOX -------------

// ---------------------------------
// END DEFAULT TEXTS BOXES
// ---------------------------------



// ---------------------------------
// HEADERS BOXES
// ---------------------------------

// ------------- HEADERS BOXES -------------
%titleBoxesCommonValues {
  margin:           0 0 1rem 0;
  padding-top:      1rem;
}

@mixin title0Box {
  @extend %titleBoxesCommonValues;
}

@mixin title1Box {
  @extend %titleBoxesCommonValues;
}

@mixin title2Box {
  @extend %titleBoxesCommonValues;
}

@mixin title3Box {
  @extend %titleBoxesCommonValues;
}

@mixin title4Box {
  @extend %titleBoxesCommonValues;
}

@mixin title5Box {
  @extend %titleBoxesCommonValues;
}

@mixin title6Box {
  @extend %titleBoxesCommonValues;
}
// ------------- END HEADERS BOXES -------------



// ------------- SUBHEADERS BOXES -------------
%subtitleBoxesCommonValues {
  margin:   0;
  padding:  0 0 2rem 0;
}

@mixin subtitle1Box {
  @extend %subtitleBoxesCommonValues;
}

@mixin subtitle2Box {
  @extend %subtitleBoxesCommonValues;
}

@mixin subtitle3Box {
  @extend %subtitleBoxesCommonValues;
}

@mixin subtitle4Box {
  @extend %subtitleBoxesCommonValues;
}

@mixin subtitle5Box {
  @extend %subtitleBoxesCommonValues;
}

@mixin subtitle6Box {
  @extend %subtitleBoxesCommonValues;
}
// ------------- END SUBHEADERS BOXES -------------

// ---------------------------------
// END HEADERS BOXES
// ---------------------------------



// ------------------------------------------------------------------
// --------- TEXTS BOXES SPECIFICATIONS ---------
// ------------------------------------------------------------------
