// ./hectordenize/scss/layout/_utils.scss
// UTILS for LAYOUT

@use "sass:map";
@use '../core/breakpoints' as brkpnts;

// ------------------------------------------------------------------
// --------- AVAILABLE UTILS HELPERS ---------
// ------------------------------------------------------------------

// .full-width
// .float-left, .float-right

// .p-rspnsv === value from './../core/breakpoints'

// {i} = from 0 trough 4
// .p-{i}           padding: {i}em;
// .p-y-{i}         padding-top: {i}em; padding-bottom: {i}em;
// .p-x-{i}         padding-left: {i}em; padding-right: {i}em;
// .p-top-{i}       padding-top: {i}em;
// .p-bottom-{i}    padding-bottom: {i}em;
// .m-{i}           margin: {i}em;
// .m-y-{i}         margin-top: {i}em; margin-bottom: {i}em;
// .m-x-{i}         margin-left: {i}em; margin-right: {i}em;
// .m-top-{i}       margin-top: {i}em;
// .m-bottom-{i}    margin-bottom: {i}em;


// ------------------------------------------------------------------
// --------- UTILS VARIABLES ---------
// ------------------------------------------------------------------



// ------------------------------------------------------------------
// --------- UTILS SPECIFICATIONS ---------
// ------------------------------------------------------------------

.full-width {
  width: 100%;
}

.float-left {
  float: left;
  margin: 1rem 2rem 1rem 0;
}

.float-right {
  float: right;
  margin: 1rem 0 1rem 2rem;
}

// ------------- PADDING RESPONSIVE ------------- 

// RESPONSIVE PADDING for XS screen (all), S screen, M screen, L screen, XL screen
@each $screenSizes, $values in brkpnts.$breakpoints {
  @media screen and (min-width: map.get($values, 'min-width')) {
    .p-rspnsv {
      padding: #{map.get($values, 'padding-responsive')};
    }
  } 
}

// RESPONSIVE PADDING for XXL screen
@media screen and (min-width: map.get(brkpnts.$breakpointXXL, 'min-width')) {
  .p-rspnsv {
    padding: #{map.get(brkpnts.$breakpointXXL, 'padding-responsive')};
  }
} 

// ------------- END PADDING RESPONSIVE ------------- 



// ------------- PADDING HELPERS ------------- 
@for $i from 0 through 4 {
  // .p-{i}
  .p-#{$i} {
    padding: #{$i}rem;
  }
  // .p-y-{i}
  .p-y-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }
  // .p-x-{i}
  .p-x-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
  }
  // .p-top-{i}
  .p-top-#{$i} {
    padding-top: #{$i}rem;
  }
  // .p-bottom-{i}
  .p-btm-#{$i} {
    padding-bottom: #{$i}rem;
  }
}
// ------------- END PADDING HELPERS ------------- 



// ------------- MARGIN HELPERS ------------- 
@for $i from 0 through 4 {
  // .m-{i}
  .m-#{$i} {
    margin: #{$i}rem;
  }
  // .m-y-{i}
  .m-y-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
  // .m-x-{i}
  .m-x-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }
  // .m-top-{i}
  .m-top-#{$i} {
    margin-top: #{$i}rem;
  }
  // .m-bottom-{i}
  .m-btm-#{$i} {
    margin-bottom: #{$i}rem;
  }
}
// ------------- END MARGIN HELPERS ------------- 
