// ./hectordenize/scss/components/_index.scss
// COMPONENTS DISPATCHER


// ------------------------------------------------------------------
@forward 'socials';
// .social, .icon, .icon--alt, .label

// ------------------------------------------------------------------
@forward 'buttons';
// .btn, .btn--primary, .btn--large, .btn--small, .btn--fit
// .icon, .disabled

// ------------------------------------------------------------------
@forward 'pagenav';
// .pageNavContainer, .pageNav, .isActive, .inactive

// ------------------------------------------------------------------
