// ./hectordenize/scss/components/_socials.scss
// SOCIALS COMPONENT

@use '../core/colors';

// ------------------------------------------------------------------
// --------- AVAILABLE SOCIALS HELPERS ---------
// ------------------------------------------------------------------

// .social, .icon, .icon--alt, .label



// ------------------------------------------------------------------
// --------- SOCIALS VARIABLES ---------
// ------------------------------------------------------------------

// ------------- SOCIALS COLORS ------------- 
$icon-color: colors.$colorDark;
$icon--alt-borderColor: colors.$colorLight;

$link-color: colors.$colorDark;

$hover-icon-color: colors.$colorAccent;
$hover-icon--alt-borderColor: colors.$colorAccent;
// ------------- END SOCIALS COLORS ------------- 



// ------------------------------------------------------------------
// --------- SOCIALS SPECIFICATIONS ---------
// ------------------------------------------------------------------

//  icon with <i> tag in a link
//  or icon <span class="icon"> in a link

.social {
  margin: 1em 0;
  padding: 0;

  i, .icon {
    padding: .2rem;
    color: $icon-color;
    &::before {
      display: inline-block;
      padding: .3rem;
      font-size: 1.3rem;
      text-align: center;
    }
  }
  
  .icon--alt {
    @extend .icon;
    &::before {
      width: 1rem;
      height: 1rem;
      border: 2px solid $icon--alt-borderColor;
      border-radius: 50%;
      font-size: 1rem;
    }
  }

  li {
    display: inline-block;
    padding: 0;
    width: 3rem;
    list-style: none;

    a {
      color: $link-color;
      border: none;
      line-height: 1;
      text-decoration: none;

      &.icon:hover, i:hover, .icon:hover {
        color: $hover-icon-color;
      }
      
      &.icon--alt:hover.icon--alt::before, .icon--alt:hover.icon--alt::before {
        border: 2px solid $hover-icon--alt-borderColor;
        transition: color .1s ease-in-out;
      }
    }

    .label {
      display: none;
    }
  }
}
