// ./app.scss
// APP STYLESHEET

@use './hectordenize/scss/main.scss' as main;



// BODY BACKGROUND -------------
body {
  background: radial-gradient(50% 13% at 50% 7%, main.$colorDusky, main.$colorDark);
}



// APP LOGO -------------
.appLogo {
  border: 4px solid main.$colorWhite;
  display: inline-block;
  margin: 5rem 0;
  padding: 0;

  a {
    border: none;
    display: block;
    padding: 1rem 1.5rem;
  }

  &:hover {
    border: 4px solid main.$colorAccent;
  }
}


@media screen and (min-width: 0) and (max-width: 991px) {

  // --- NAV SCROLL SPY JS COMPONENT ---
  #navTrigger.navScrollSpyTarget:not(.closeMenu) {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 10px rgba(113, 121, 129, .5);
    color: main.$colorDark;
    transition: background-color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
    &:hover {
      color: main.$colorAccent;
    }
  }
  // --- END NAV SCROLL SPY JS COMPONENT ---

  // MAIN NAV -------------
  .mainNav {
    font-size: .8rem;
    margin: 0;
    padding: 4rem 2rem 2rem 2rem;
    li {
      display: block;
      padding: 0;
      list-style: none;
      a {
        // BOX
        display: block;
        border-bottom: 2px solid main.$colorLight;
        padding: 1rem .5rem;
        // FONT
        font-family: main.$fontSecondary;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:last-of-type a {
        border: none;
      }
    }
  }

  // SOCIAL NAV -------------
  .socialNav {
    margin: 0;
    padding: 0 0 0 2rem;
    li {
      a:hover i::before {
        border: 2px solid main.$colorAccent;
        transition: color .1s ease-in-out;
      }
      i {
        margin-right: 0;
        &::before {
          border: 2px solid main.$colorLight;
          border-radius: 50%;
          height: 1.3rem;
          width: 1.3rem;
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}



// META DATA -------------
.metaData {
  font-size: .8rem;
}

.lineMeta {
  background-color: main.$colorLight;
  height: 2px;
  width: 100%;
}
.metaData--lined {
  background-color: main.$colorWhite;
  display: inline-block;
  padding: 0 1rem;
  position: relative;
  top: -22px;
  font-size: .9rem;
}


// FOOTER -------------
footer {
  textarea {
    height: 7em;
  }
  .btn {
    border-color: main.$colorDim;
    color: main.$colorDim;
  }
  .addressContainer {
    .title6 {
      display: inline-block;
      width: 90px;
    }
    address {
      font-size: 0.8rem;
    }
    .postalAddress {
      padding-top: .4rem;
      vertical-align: top;
    }
  }
  .social {
    .icon--alt {
      color: main.$colorDim;
    }    
  }
}



// ---------------------------------
// FROM L SCREEN 
// ---------------------------------

@media screen and (min-width: 992px) {

  #navTrigger {
    display: none;
  }

  #menu {
    background: radial-gradient(#6a605a, #494e53);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // --- RESET RELATED TO NAV TRIGGER COMPONENT ---
    height: initial;
    width: initial;
    position: initial;
    top: initial;
    right: initial;
    transition: none;
    z-index: initial;
    // --- END RESET RELATED TO NAV TRIGGER COMPONENT ---

    // MAIN NAV -------------
    .mainNav {
      font-size: 0;
      li {
        display: inline-block;
        list-style: none;
        a {
          // BOX
          border: none;
          display: block;
          padding: 1rem 2rem;
          // FONT
          color: #fff;
          font-family: main.$fontSecondary;
          font-size: .8rem;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background: rgba(113, 121, 129, .3);
          }
        }
        &.isActive a {
          background: #fff;
          color: main.$colorDark;
          &:hover {
            color: main.$colorAccent;
          }
        }
      }
    }
  
    // SOCIAL NAV -------------
    .socialNav {
      margin: 0;
      padding-right: 1.5rem;
      i {
        color: #fff;
      }
    }
  }
}

// ---------------------------------
// END FROM L SCREEN 
// ---------------------------------
