// ./app.scss
// APP STYLESHEET

@use './hectordenize/scss/main.scss' as main;



// BODY BACKGROUND -------------
body {
  background: radial-gradient(50% 13% at 50% 7%, main.$colorDusky, main.$colorDark);
}



// NAV BACKGROUND -------------
.bckgrnd-nav {
  background: radial-gradient(#6a605a, #494e53);
}



.appLogo {
  display: inline-block;
  border: 4px solid main.$colorWhite;
  margin: 5rem 0;
  padding: 0;

  a {
    display: block;
    border: none;
    padding: 1rem 1.5rem;
  }

  &:hover {
    border: 4px solid main.$colorAccent;
  }
}

// MAIN NAV -------------
.mainNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNav {
  font-size: 0;
  li {
    display: inline-block;
    list-style: none;
    a {
      // BOX
      display: block;
      border: none;
      padding: 1rem 2rem;
      // FONT
      color: #fff;
      font-family: main.$fontSecondary;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: rgba(113, 121, 129, .3);
      }
    }
    &.isActive a {
      background: #fff;
      color: main.$colorDark;
      &:hover {
        color: main.$colorAccent;
      }
    }
  }
}



// SOCIAL NAV -------------
.socialNav.social {
  margin: 0;
  padding-right: 1.5rem;
    i {
      color: #fff;
    }
}



// META DATA -------------
.metaContainer {
  width: 100%;
  height: 2px;
  background-color: main.$colorLight;
  .metaData {
    display: inline-block;
    background-color: main.$colorWhite;
    padding: 0 1rem;
    position: relative;
    top: -20px;
    font-size: .9rem;
  }
}

.metaData {
  font-size: .8rem;
}



// PAGE NAV -------------
.pageNavContainer {
  padding: 1rem 0 5rem 0;
  .pageNav {
    margin: 0;
    padding: 0;
    font-family: main.$fontSecondary;
    font-size: 0;
    letter-spacing: 0;
    text-transform: uppercase;
  
    li {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border: 2px solid main.$colorLight;
      margin-left: -2px;
      padding: 0;
      font-size: .8rem;
      line-height: 2.7rem;
      list-style: none;   
  
      a {
        display: block;
        border: none;
        text-decoration: none;
      }
    }
    
    li:last-of-type {
      width: 7rem;
        i {
          padding-left: 1rem;
        }
    }
  
    li.isActive {
      background-color: main.$colorLight;
    }
  
    li:hover:not(.inactive) {
      border: 2px solid main.$colorAccent;
      + li {
        border-left: 2px solid main.$colorAccent;
      }
    }
  }
}



// FOOTER -------------
footer {
  textarea {
    height: 7em;
  }
  .btn {
    border-color: main.$colorDim;
    color: main.$colorDim;
  }
  .addressContainer {
    .title6 {
      display: inline-block;
      width: 90px;
    }
    address {
      font-size: 0.8rem;
    }
    .postalAddress {
      vertical-align: top;
      padding-top: .4rem;
    }
  }
  .social {
    .icon--alt {
      color: main.$colorDim;
    }    
  }
}
