// ./app.scss
// APP STYLESHEET

@use './hectordenize/scss/main.scss' as main;



// BODY BACKGROUND -------------
body {
  background: radial-gradient(50% 13% at 50% 7%, main.$colorDusky, main.$colorDark);
}

// NAV BACKGROUND -------------
.bckgrnd-nav {
  background: radial-gradient(#6a605a, #494e53);
}

// HR -------------
hr, .splitLine {
  border: none;
  border-top: main.$colorLight 2px solid;
  margin: 3rem 0;
}

// MAIN NAV -------------
.mainNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNav {
  font-size: 0;
  .navItem {
    display: inline-block;
    list-style: none;
    a {
      // BOX
      display: block;
      border: none;
      padding: 1rem 2rem;
      // FONT
      color: #fff;
      font-family: main.$fontSecondary;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: rgba(113, 121, 129, .3);
      }
    }
    &.isActive a {
      background: #fff;
      color: main.$colorDark;
      &:hover {
        color: main.$colorAccent;
      }
    }
  }
}

// SOCIAL NAV -------------
.socialNav.social {
  padding-right: 1.5rem;
    i {
      color: #fff;
    }
}

// FOOTER -------------
footer {
  textarea {
    height: 7em;
  }
  .btn {
    border-color: main.$colorDim;
    color: main.$colorDim;
  }
  .addressContainer {
    .title6 {
      display: inline-block;
      width: 90px;
    }
    address {
      font-size: 0.8rem;
    }
    .postalAddress {
      vertical-align: top;
      padding-top: .4rem;
    }
  }
  .social {
    .icon--alt {
      color: main.$colorDim;
    }    
  }
}