// ./hectordenize/scss/core/_breakpoints.scss
// BREAKPOINTS CORE



// ------------------------------------------------------------------
// --------- BREAKPOINTS VARIABLES ---------
// ------------------------------------------------------------------

// experimentation on breakpoints values ... :-)


// BREAKPOINTS VALUES for XS screen (all), S screen, M screen, L screen, XL screen, XXL screen
// $breakpoints: (screenSize: (label, min-width, max-width, container: (size, padding), padding-responsive))
$breakpoints: (
  'xs': (
    'label': '',    
    'min-width': 0,      
    'max-width': 575px,  
    'container': (
      'size': 90vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem
  ),
  's': (
    'label': '-s',  
    'min-width': 576px,  
    'max-width': 767px,  
    'container': (
      'size': 90vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem
  ), 
  'm': (
    'label': '-m',  
    'min-width': 768px,  
    'max-width': 991px,  
    'container': (
      'size': 90vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem 4rem
  ), 
  'l': (
    'label': '-l',  
    'min-width': 992px,  
    'max-width': 1279px, 
    'container': (
      'size': 85vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem 4rem
  ), 
  'xl': (
    'label': '-xl',  
    'min-width': 1280px, 
    'max-width': 1819px, 
    'container': (
      'size': 80vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem 6rem
  ), 
  'xxl': (
    'label': '-xxl', 
    'min-width': 1920px, 
    'max-width': 3839px, 
    'container': (
      'size': 80vw, 
      'padding': 0
    ), 
    'padding-responsive': 2rem 6rem
  )
);
// END BREAKPOINTS VALUES for XS screen (all), S screen, M screen, L screen, XL screen, XXL screen



// BREAKPOINTS VALUE for XXXL screen
// $breakpointXXXl: (label, min-width, container: (size, padding), padding-responsive)
$breakpointXXXL: (
  'label': '-xxxl', 
  'min-width': 3840px, 
  'container': (
    'size': 60vw, 
    'padding': 0
  ), 
  'padding-responsive': 2rem 8rem
);
// END BREAKPOINTS VALUE for XXXL screen
