// ./hectordenize/scss/core/_colors.scss
// COLORS CORE



// ------------------------------------------------------------------
// --------- COLORS VARIABLES ---------
// ------------------------------------------------------------------

$colorAccent: #18bfff;
$colorWhite: #ffffff;
$colorPale: #f6f6f6;
$colorLight: #e6e6e6;
$colorDim: #717981;
$colorDusky: #4e403d;
$colorDark: #212931;

// $colors: (label: $color)
$colors: (
  'accent': $colorAccent, 
  'white':  $colorWhite,
  'pale':   $colorPale,
  'light':  $colorLight, 
  'dim':    $colorDim, 
  'dusky':  $colorDusky, 
  'dark':   $colorDark
);
