// ./hectordenize/scss/core/_init.scss
// INITIALIZATON CORE


// ------------------------------------------------------------------
// --------- INITIALIZATON VARIABLES & MIXINS ---------
// ------------------------------------------------------------------

$boxSizingDefault: border-box;
$bodyMargin: 0 auto;

@mixin reset {
  margin: 0;
  padding: 0;
}



// ------------------------------------------------------------------
// --------- INITIALIZATON SPECIFICATIONS ---------
// ------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: $boxSizingDefault;
}

body {
  margin: $bodyMargin;
  overflow-wrap: break-word;
}
