// ./hectordenize/scss/core/_typography.scss
// TYPOGRAPHY CORE

@use 'colors';
@use '../core/breakpoints' as brkpnts;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@900&display=swap');



// ------------------------------------------------------------------
// --------- AVAILABLE TYPOGRAPHY HELPERS ---------
// ------------------------------------------------------------------

// .title0, .title1, .title2, .title3, .title4, .title5, .title6
// .subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6
// .link, .noLink



// ------------------------------------------------------------------
// --------- TYPOGRAPHY VARIABLES, MIXINS & PLACEHOLDERS ---------
// ------------------------------------------------------------------

// ------------- FONTS -------------
$fontDefault:   'Merriweather', Georgia, serif;
$fontSecondary: 'Source Sans Pro', Helvetica, sans-serif;



// ------------- COLORS -------------
$colorDefault:            colors.$colorDark;

$link-color:              colors.$colorDark;
$link-borderColor:        colors.$colorDim;
$hover-link-color:        colors.$colorAccent; 
$hover-link-borderColor:  colors.$colorAccent;

$code-bckgrndColor:       colors.$colorPale;
$code-boxShadowColor:     colors.$colorDim;

$blockquote-borderColor:  colors.$colorLight;
// ------------- END COLORS -------------



// ------------- LINK STYLE -------------
$link-borderBottom:         $link-borderColor 1px dotted;           
$link-decoration:           none;
$hover-link-borderBottom:   $hover-link-borderColor 1px dotted;
// ------------- END LINK STYLE -------------



// ---------------------------------
// DEFAULT TYPOGRAPHY
// ---------------------------------

// ------------- DEFAULT TYPOGRAPHY -------------
@mixin typoDefault {
  color:            $colorDefault;
  font-family:      $fontDefault;
  font-size:        1rem;
  font-weight:      300;
  letter-spacing:   .025rem;
  line-height:      2.5;
}



// ------------- PARAGRAPH -------------
@mixin paragraph {
  margin:           0;
  margin-bottom:   2rem;
}



// ------------- CODE -------------
@mixin codeTypo {
  background:     $code-bckgrndColor;
  box-shadow:     0 0 5px $code-boxShadowColor;
  margin:         .3em;
  padding:        .5em;
  font-size:      .9rem;
}



// ------------- BLOCKQUOTE -------------
@mixin blockquoteTypo {
  border-left: $blockquote-borderColor 5px solid; 
  margin: 2em 0;
  padding: .5em 0 .5em 2em;
}



//  ------------- PREFORMATED -------------
@mixin preformatedTypo {
  background-color: colors.$colorPale;
  border: 2px solid colors.$colorLight;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

// ---------------------------------
// END DEFAULT TYPOGRAPHY
// ---------------------------------



// ---------------------------------
// HEADERS TYPOGRAPHY
// ---------------------------------

// ------------- HEADERS -------------
$title0-fontSize: 4.5rem; // h1
$title1-fontSize: 3.5rem;
$title2-fontSize: 2rem; // h2
$title3-fontSize: 1.5rem; // h3
$title4-fontSize: 1.1rem; // h4
$title5-fontSize: 1rem; // h5
$title6-fontSize: .8rem; // h6

$title0-fontSize-XSonly: 3rem; // XS h1
$title1-fontSize-XSonly: 2rem;  // XS
$title2-fontSize-XSonly: 1.7rem; // XS h2
$title3-fontSize-XSonly: 1.4rem; // XS h3

$title0-fontSize-Sonly: 3.7rem; // S h1
$title1-fontSize-Sonly: 2.7rem; // S


%titleTypoCommonValues {
  // BOX
  margin:           0 0 1rem 0;
  padding-top:      1rem;
  // FONT
  font-family:      $fontSecondary;
  font-weight:      900;
  letter-spacing:   .1rem;
  line-height:      1.2;
  text-transform:   uppercase;
}
// ------------- END HEADERS -------------



// ------------- SUBHEADERS -------------
$subtitle1-fontSize: 1.1rem;
$subtitle2-fontSize: 1rem; 
$subtitle3-fontSize: .9rem; 
$subtitle4-fontSize: .8rem; 
$subtitle5-fontSize: .7rem; 
$subtitle6-fontSize: .6rem; 

%subtitleTypoCommonValues {
  // BOX
  margin:   0;
  padding:  0 0 2rem 0;
  // FONT 
  font-family:      $fontDefault;
  font-style:       italic;
  font-weight:      300;
  letter-spacing:   0;
  line-height:      2.5;
  text-transform:   initial;
}
// ------------- END SUBHEADERS -------------

// ---------------------------------
// END HEADERS TYPOGRAPHY
// ---------------------------------



// ------------------------------------------------------------------
// --------- TYPOGRAPHY SPECIFICATIONS ---------
// ------------------------------------------------------------------

//  ------------- DEFAULT TYPOGRAPHY -------------
body { 
  @include typoDefault; 
}



//  ------------- PARAGRAPH -------------
p { 
  @include paragraph
}



// ------------- LINKS -------------
a, .link { 
  border-bottom:    $link-borderBottom;
  color:            $link-color;
  text-decoration:  $link-decoration;
  
  &:hover {
    border-bottom:  $hover-link-borderBottom;
    color:          $hover-link-color;
  }
}

.nolink { 
  border-bottom:    none;
  text-decoration:  none;
  &:hover {
    border-bottom:  none;
  }
}



// ------------- CODE -------------
code { 
  @include codeTypo; 
}



//  ------------- BLOCKQUOTE -------------
blockquote {
  @include blockquoteTypo;
}



//  ------------- PREFORMATED -------------
pre {
  @include preformatedTypo;
}



//  ------------- HEADERS -------------
h1, h2, h3, h4, h5, h6, 
.title0, .title1, .title2, 
.title3, .title4, .title5, .title6 {
  @extend %titleTypoCommonValues;
}

h1, .title0 { 
  font-size: $title0-fontSize;
}

.title1 { 
  font-size: $title1-fontSize;
}

h2, .title2 { 
  font-size: $title2-fontSize;
}

h3, .title3 { 
  font-size: $title3-fontSize;
}

h4, .title4 { 
  font-size: $title4-fontSize;
}

h5, .title5 { 
  font-size: $title5-fontSize;
}

h6, .title6 { 
  font-size: $title6-fontSize;
}



// ONLY ON XS SCREEN ---------------------------------
@media screen and (min-width: map-get(brkpnts.$breakpoints, 'xs', 'min-width')) and (max-width: map-get(brkpnts.$breakpoints, 'xs', 'max-width')) { 

  h1, .title0 {
    font-size: $title0-fontSize-XSonly;
  }

  .title1 {
    font-size: $title1-fontSize-XSonly;
  }

  h2, .title2 {
    font-size: $title2-fontSize-XSonly;
  }

  h3, .title3 {
    font-size: $title3-fontSize-XSonly;
  }
}



// ONLY ON S SCREEN ---------------------------------
@media screen and (min-width: map-get(brkpnts.$breakpoints, 's', 'min-width')) and (max-width: map-get(brkpnts.$breakpoints, 's', 'max-width')) {

  h1, .title0 {
    font-size: $title0-fontSize-Sonly;
  }

  .title1 {
    font-size: $title1-fontSize-Sonly;
  }
}
//  ------------- END HEADERS -------------



//  ------------- SUBHEADERS -------------
.subtitle1, .subtitle2, .subtitle3, 
.subtitle4, .subtitle5, .subtitle6 {
  @extend %subtitleTypoCommonValues;
}

.subtitle1 { 
  font-size: $subtitle1-fontSize;
}

.subtitle2 { 
  font-size: $subtitle2-fontSize;
}

.subtitle3 { 
  font-size: $subtitle3-fontSize;
}

.subtitle4 { 
  font-size: $subtitle4-fontSize;
}

.subtitle5 { 
  font-size: $subtitle5-fontSize;
}

.subtitle6 { 
  font-size: $subtitle6-fontSize;
}
//  ------------- END SUBHEADERS -------------
