// ./hectordenize/scss/core/_typography.scss
// TYPOGRAPHY CORE

@use 'colors';
@use '../layout/texts' as txtbox;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@900&display=swap');

// ------------------------------------------------------------------
// --------- AVAILABLE TYPOGRAPHY HELPERS ---------
// ------------------------------------------------------------------

// .title0, .title1, .title2, .title3, .title4, .title5, .title6
// .subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6
// .link
// .txt-center, .txt-left, .txt-right, .txt-justify
// .txt-underlined, .txt-bold



// ------------------------------------------------------------------
// --------- TYPOGRAPHY VARIABLES, MIXINS & PLACEHOLDERS ---------
// ------------------------------------------------------------------

// ------------- FONTS -------------
$fontDefault: 'Merriweather', Georgia, serif;
$fontSecondary: 'Source Sans Pro', Helvetica, sans-serif;
// ------------- END FONTS -------------



// @mixin typographyRules($property, $value) {
//   #{$property}: $value;
// }



// ---------------------------------
// DEFAULT TYPOGRAPHY
// ---------------------------------

// ------------- DEFAULT TYPOGRAPHY -------------
%typoDefault {
  // FONT
  color:            colors.$colorDark;
  font-family:      $fontDefault;
  font-size:        1rem;
  font-weight:      300;
  letter-spacing:   .025em;
  line-height:      2.5;
}
// ------------- END DEFAULT TYPOGRAPHY -------------



// ------------- PARAGRAPH -------------
@mixin paragraphTypo {
  // BOX
  @include txtbox.paragraphBox;

  // FONT
}
//  ------------- END PARAGRAPH -------------



// ------------- LINKS -------------
@mixin linkTypo {
  // BOX 
  @include txtbox.linkBox;

  // FONT
  color:            colors.$colorDark;
  text-decoration:  none;

  &:hover {
    // BOX
    @include txtbox.linkBoxHover;

    //FONT
    color:          colors.$colorAccent;
  }
}
// ------------- END LINKS -------------



// ------------- CODE -------------
@mixin codeTypo {
  // BOX 
  @include txtbox.codeBox;

  // FONT
  font-size:      .9rem;
}
// ------------- END CODE -------------



// ------------- BLOCKQUOTE -------------
@mixin blockquoteTypo {
  // BOX
  @include txtbox.blockquoteBox;

  // FONT
}
// ------------- END BLOCKQUOTE -------------

// ---------------------------------
// END DEFAULT TYPOGRAPHY
// ---------------------------------



// ---------------------------------
// HEADERS TYPOGRAPHY
// ---------------------------------

// ------------- HEADERS -------------
%titleTypoCommonValues {
  // FONT
  font-family:      $fontSecondary;
  font-weight:      900;
  letter-spacing:   .1rem;
  line-height:      1.2;
  text-transform:   uppercase;
}

%title0Typo { // h1
  // BOX
  @include txtbox.title0Box;

  // FONT
  font-size:        4rem;
  @extend %titleTypoCommonValues;
}

%title1Typo {
  // BOX
  @include txtbox.title1Box;

  // FONT
  font-size:        3rem;
  @extend %titleTypoCommonValues;
}

%title2Typo { // h2
  // BOX
  @include txtbox.title2Box;

  // FONT
  font-size:        2rem;
  @extend %titleTypoCommonValues;
}

%title3Typo { // h3
  // BOX
  @include txtbox.title3Box;

  // FONT
  font-size:        1.5rem;
  @extend %titleTypoCommonValues;
}

%title4Typo { // h4
  // BOX
  @include txtbox.title4Box;

  // FONT
  font-size:        1.2rem;
  @extend %titleTypoCommonValues;
}

%title5Typo { // h5
  // BOX
  @include txtbox.title5Box;

  // FONT
  font-size:        1rem;
  @extend %titleTypoCommonValues;
}

%title6Typo { // h6
  // BOX
  @include txtbox.title6Box;

  // FONT
  font-size:        .8rem;
  @extend %titleTypoCommonValues;
}
// ------------- END HEADERS -------------



// ------------- SUBHEADERS -------------
%subtitleTypoCommonValues {
  font-family:      $fontDefault;
  font-style:       italic;
  font-weight:      300;
  letter-spacing:   0;
  line-height:      2.5;
  text-transform:   initial;
}

@mixin subtitle1Typo {
  // BOX
  @include txtbox.subtitle1Box;

  // FONT
  font-size:        1.1rem;
  @extend %subtitleTypoCommonValues;
}

@mixin subtitle2Typo {
  // BOX
  @include txtbox.subtitle2Box;

  // FONT
  font-size:        1rem;
  @extend %subtitleTypoCommonValues;
}

@mixin subtitle3Typo {
  // BOX
  @include txtbox.subtitle3Box;

  // FONT
  font-size:        .9rem;
  @extend %subtitleTypoCommonValues;
}

@mixin subtitle4Typo {
  // BOX
  @include txtbox.subtitle4Box;

  // FONT
  font-size:        .8rem;
  @extend %subtitleTypoCommonValues;
}

@mixin subtitle5Typo {
  // BOX
  @include txtbox.subtitle5Box;

  // FONT
  font-size:        .7rem;
  @extend %subtitleTypoCommonValues;
}

@mixin subtitle6Typo {
  // BOX
  @include txtbox.subtitle6Box;

  // FONT
  font-size:        .6rem;
  @extend %subtitleTypoCommonValues;
}
// ------------- END SUBHEADERS -------------

// ---------------------------------
// END HEADERS TYPOGRAPHY
// ---------------------------------



// ------------------------------------------------------------------
// --------- TYPOGRAPHY SPECIFICATIONS ---------
// ------------------------------------------------------------------

//  ------------- DEFAULT TYPOGRAPHY -------------
body { 
  @extend %typoDefault; 
}
//  ------------- END DEFAULT TYPOGRAPHY -------------



//  ------------- PARAGRAPH -------------
p { 
  @include paragraphTypo; 
}
//  ------------- END PARAGRAPH -------------



// ------------- LINKS -------------
a, .link { 
  @include linkTypo; 
}
// ------------- END LINKS -------------



// ------------- CODE -------------
code { 
  @include codeTypo; 
}
// ------------- END CODE -------------



//  ------------- BLOCKQUOTE -------------
blockquote {
  @include blockquoteTypo;
}
//  ------------- END BLOCKQUOTE -------------



//  ------------- HEADERS -------------
h1 { 
  @extend %title0Typo;
}

h2 { 
  @extend %title2Typo; 
}

h3 { 
  @extend %title3Typo; 
}

h4 { 
  @extend %title4Typo; 
}

h5 { 
  @extend %title5Typo; 
}

h6 { 
  @extend %title6Typo; 
}

.title0 { 
  @extend %title0Typo; 
}

.title1 { 
  @extend %title1Typo; 
}

.title2 { 
  @extend %title2Typo; 
}

.title3 { 
  @extend %title3Typo; 
}

.title4 { 
  @extend %title4Typo; 
}

.title5 { 
  @extend %title5Typo; 
}

.title6 { 
  @extend %title6Typo; 
}
//  ------------- END HEADERS -------------



//  ------------- SUBHEADERS -------------
.subtitle1 { 
  @include subtitle1Typo; 
}

.subtitle2 { 
  @include subtitle2Typo; 
}

.subtitle3 { 
  @include subtitle3Typo; 
}

.subtitle4 { 
  @include subtitle4Typo; 
}

.subtitle5 { 
  @include subtitle5Typo; 
}

.subtitle6 { 
  @include subtitle6Typo; 
}
//  ------------- END SUBHEADERS -------------



// -------------  ALIGNMENTS HELPERS ------------- 
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

.txt-underlined {
  text-decoration: underline;
}

.txt-bold {
  font-weight: bold;
}
// -------------  END ALIGNMENTS HELPERS ------------- 